<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ">
    <servlet>
        <servlet-name>Monkey Server</servlet-name>
        <servlet-class>
            com.netflix.simianarmy.basic.BasicMonkeyServer
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
