<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ">
    <display-name>Simian Army</display-name>
    <servlet>
        <servlet-name>Monkey Server</servlet-name>
        <servlet-class>com.netflix.simianarmy.basic.BasicMonkeyServer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>jersey-servlet</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
      <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>com.netflix.simianarmy.resources</param-value>
      </init-param>
      <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>jersey-servlet</servlet-name>
      <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>
